* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
table {
    border: 1px solid rgb(128, 128, 128);
    width: 440px;
    margin: 0 auto;
    margin-top: 100px;
    height: 620px;
    border-collapse: collapse;
    color: #d2d636;
}
.heading {
    background-color: rgb(222, 135, 4);
}
.heading-data {
    padding: 2px;
    font-weight: bolder;
    color: #d2d636;
    padding-left: 10px;
}
tr {
    margin: 0px;
}
.middle-rows {
    background-color: rgb(34, 37, 54);
    column-gap: 4px;
}
.middlerows-data {
    text-align: right;
    padding-right: 15px;
}
.termsandconditions-data {
    padding-top: 5px;
}
.buttons {
    text-align: right;
    padding: 0;
    margin: 0;
    height: 55px;
    background-color: rgb(222, 135, 4);
}
#submit {
width: 85px;
padding: 10px 20px;
cursor: pointer;
background-color: #62af5e;
border: none;
color: white;
}
#submit:hover {
    background-color: #357e31;
    font-weight: bold;
    transition: 1.2s;
    opacity: 0.8;
}
#cancel {
    width: 85px;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
    border: none;
    background-color:#d9544f;
    color: white;
}
#cancel:hover {
    background-color: #b23833;
    font-weight: bold;
    transition: 1.2s;
    opacity: 0.8;
}

